{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Categorías de Noticias</h2>
    <a href="{% url 'news:crear_categoria' %}" class="btn btn-primary mb-3">Crear Categoría</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.name }}</td>
                <td>{{ categoria.description }}</td>
                <td>
                    <a href="{% url 'news:editar_categoria' categoria.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'news:eliminar_categoria' categoria.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
