.sidebar {
    width: 250px;
}

.sidebar ul li a {
    padding: 10px;
    display: block;
    color: #333;
    font-weight: bold;
    transition: all 0.3s;
}

.sidebar ul li a:hover {
    background-color: #f8f9fa;
    border-left: 4px solid #007bff;
    color: #007bff;
}